<div class="container">
  <p>Related Items</p>
  <p>Oxley Kart General</p>
  <p>Social Channels</p>
  <p>Address</p>
</div>
<div class="content">
  <div class="related-items">
    <a>Race Types</a>
    <p>Allergens</p>
    <p>Buying a karting gift</p>
    <p>Careers with drive</p>
    <p>Corporate Partners</p>
    <p>Corporate Partnerships</p>
    <p>Press Contract</p>
  </div>
  <div class="oxley">
    <p>About OxleyParkKarting</p>
    <p>FAQs</p>
    <p>Privacy Policy</p>
    <p>Cookie Policy</p>
    <p>Providing Your Personal Data To Others</p>
    <p>How We Use Your Personal Data</p>
    <p>Retaining and Deleting Personal Data</p>
    <p>Summary Cover</p>
    <p>Terms and Conditions</p>
    <p>Contact us</p>
  </div>
  <div class="socail-channels">
    <p>Facebook</p>
    <p>X</p>
    <p>Instagram</p>
    <p>YouTube</p>
    <p>TripAdvisor</p>
  </div>
  <div class="address">
    <p>Head Office (Staff Only)</p>
    <p>C1 Endeavour Place</p>
    <p>Coxbridge Business Park, Alton Road</p>
    <p>Farnham</p>
    <p>Surrey</p>
    <p>GU10 5EH</p>
  </div>
</div>
<div class="foot-note">
  <p>
    © OxleyParkKarting 2024 Head Office (Staff Only), C1 Endeavour Place,
    Coxbridge Business Park, Alton Road, Farnham, Surrey GU10 5EH
  </p>
  <p>The team is availbale 7 days a week</p>
</div>
