<div class="container">
  <h1 class="title">Booking Confirmation</h1>
  <img
    src="../../assets/confirmation.png"
    alt="img"
    width="1440px"
    height="300px"
  />
  <h1>Oxley Park Karting</h1>
  <h2>See you soon!</h2>
  <p>Your visit is booked in at 08:00 on 03/07/2024</p>
  <p>
    Your refernce number is ABC123 which has been emailed to the email you
    signed in with :)
  </p>
  <p>
    Didn't recieve it? Click <a href="mailto:test@gmail.com">here</a> to resend
    it
  </p>

  <div class="summary">
    <h2>Here's your order summary</h2>
    <div class="table">
      <h4>Item</h4>
      <h4>Qty</h4>
      <h4>Sub Total</h4>

      <p>ADULT ULTIMATE RACE EXPERIENCE</p>
      <p>1</p>
      <p>£40.00</p>

      <span>‎ </span>
      <span>‎ </span>
      <span>‎ </span>
      <span>‎ </span>

      <h4>Total</h4>
      <h4>£40.00</h4>
    </div>
  </div>

  <button (click)="onClickHome()">Home</button>
</div>
