.placeholder {
  height: 210px;
}

.title {
  background-color: rgb(50, 50, 50);
  color: white;
  text-align: center;
  margin: 0;
  padding: 1.5rem;
}

.sale-text {
  text-align: center;
  padding: 1rem 2rem;
}
