<app-header></app-header>
<app-booking></app-booking>
<div class="placeholder"></div>
<h1 class="title">GO-KARTING OXLEY</h1>
<div class="sale-text">
  <h3>GO-KARTING OXLEY</h3>
  <h4>SAVE 10% WHEN YOU BOOK ONLINE, USE CODE 'GET10'</h4>
  <p>
    Are you ready to take on the twists and turns of some of the capital’s best
    tracks? Discover all the fantastic facilities we have to offer in Oxley
    Park, from the twists and turns of the circuit to the incredible e-karting
    tracks!
  </p>
  <p>
    The ideal indoor activity for family and friends, as well as stag-dos,
    hen-dos, team-building activities and other special events! Whether you're
    looking for a high-stakes competition or a casual race, we have something
    for everyone.
  </p>
  <p>Click search and check out our availability above!</p>
</div>
<app-footer></app-footer>
